@import '../../assets/scss/variables.scss';

.start__btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: $white-100;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: $orange-100;
  border: none;
  transition: linear .15s background-color;

  &:hover {
    background-color: $orange-80;
  }

  &:active {
    background-color: $orange-120;
  }
}
