@import '../../assets/scss/variables.scss';

%text-shared {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.game-button {
  position: relative;
  width: 288px;
  height: 56px;
  padding: 20px 24px;
  border: 1px solid $black-40;
  transition: linear .15s border-color;
  cursor: pointer;

  &:not(:first-child) {
    margin-top: 8px;
  }

  .variant {
    @extend %text-shared;
    font-weight: 600;
    color: $orange-100;
    margin-left: 24px;
  }

  .text {
    @extend %text-shared;
    font-weight: normal;
    color: $black-100;
    margin-left: 8px;
  }

  &:hover {
    border-color: $orange-100;
  }
}

.game-button {
  & +
  .selected {
    background-color: $orange-5;
    border-color: $orange-100;
  }

  & +
  .correct {
    background-color: $green-5;
    border-color: $green-100;
  }

  & +
  .wrong {
    background-color: $red-5;
    border-color: $red-100;
  }
}
