@import '../../assets/scss/variables.scss';

.prise-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;

  .prise-button {
    width: 240px;
    height: 32px;
    padding: 8px 24px;

    &:not(:first-child) {
      margin-bottom: 8px;
    }

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $black-100;

    background-color: $white-100;
    border: 1px solid $black-40;

    &-active {
      border-color: $orange-100;
    }

    &-earned {
      color: $black-40;
    }
  }
}
